<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nigel.readbox.dao.AdminInfoMapper" >
  <resultMap id="BaseResultMap" type="com.nigel.readbox.entity.AdminInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="admin_code" property="adminCode" jdbcType="VARCHAR" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="admin_pwd" property="adminPwd" jdbcType="VARCHAR" />
    <result column="admin_phone" property="adminPhone" jdbcType="VARCHAR" />
    <result column="admin_company" property="adminCompany" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, admin_code, admin_name, admin_pwd, admin_phone, admin_company
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admin_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByAdminCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from admin_info
    where admin_code = #{adminCode,jdbcType=VARCHAR}
  </select>

  <select id="selectListByLike" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from admin_info
    where
    admin_code like #{search} OR
    admin_name like #{search} OR
    admin_phone like #{search}
    order by admin_code ASC
  </select>

  <delete id="deleteByAdminCode" parameterType="java.lang.String" >
    delete from admin_info
    where admin_code = #{adminCode,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.nigel.readbox.entity.AdminInfo" >
    insert into admin_info (id, admin_code, admin_name, 
      admin_pwd, admin_phone, admin_company
      )
    values (#{id,jdbcType=INTEGER}, #{adminCode,jdbcType=VARCHAR}, #{adminName,jdbcType=VARCHAR}, 
      #{adminPwd,jdbcType=VARCHAR}, #{adminPhone,jdbcType=VARCHAR}, #{adminCompany,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nigel.readbox.entity.AdminInfo" >
    insert into admin_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="adminCode != null" >
        admin_code,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="adminPwd != null" >
        admin_pwd,
      </if>
      <if test="adminPhone != null" >
        admin_phone,
      </if>
      <if test="adminCompany != null" >
        admin_company,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminCode != null" >
        #{adminCode,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPwd != null" >
        #{adminPwd,jdbcType=VARCHAR},
      </if>
      <if test="adminPhone != null" >
        #{adminPhone,jdbcType=VARCHAR},
      </if>
      <if test="adminCompany != null" >
        #{adminCompany,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.nigel.readbox.entity.AdminInfo" >
    update admin_info
    <set >
      <if test="adminCode != null" >
        admin_code = #{adminCode,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPwd != null" >
        admin_pwd = #{adminPwd,jdbcType=VARCHAR},
      </if>
      <if test="adminPhone != null" >
        admin_phone = #{adminPhone,jdbcType=VARCHAR},
      </if>
      <if test="adminCompany != null" >
        admin_company = #{adminCompany,jdbcType=VARCHAR},
      </if>
    </set>
    where admin_code = #{adminCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nigel.readbox.entity.AdminInfo" >
    update admin_info
    set admin_code = #{adminCode,jdbcType=VARCHAR},
      admin_name = #{adminName,jdbcType=VARCHAR},
      admin_pwd = #{adminPwd,jdbcType=VARCHAR},
      admin_phone = #{adminPhone,jdbcType=VARCHAR},
      admin_company = #{adminCompany,jdbcType=VARCHAR}
    where admin_code = #{adminCode,jdbcType=VARCHAR}
  </update>
</mapper>