<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nigel.readbox.dao.BookBorrowMapper" >
  <resultMap id="BaseResultMap" type="com.nigel.readbox.entity.BookBorrow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bw_code" property="bwCode" jdbcType="VARCHAR" />
    <result column="bw_book_code" property="bwBookCode" jdbcType="VARCHAR" />
    <result column="bw_user_code" property="bwUserCode" jdbcType="VARCHAR" />
    <result column="bw_lend_time" property="bwLendTime" jdbcType="TIMESTAMP" />
    <result column="bw_back_time" property="bwBackTime" jdbcType="TIMESTAMP" />
    <result column="bw_isexpired" property="bwIsexpired" jdbcType="VARCHAR" />
    <result column="bw_fine_amount" property="bwFineAmount" jdbcType="DECIMAL" />
    <result column="bw_islend" property="bwIslend" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bw_code, bw_book_code, bw_user_code, bw_lend_time, bw_back_time, bw_isexpired, 
    bw_fine_amount, bw_islend
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from book_borrow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from book_borrow
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.nigel.readbox.entity.BookBorrow" >
    insert into book_borrow (id, bw_code, bw_book_code, 
      bw_user_code, bw_lend_time, bw_back_time, 
      bw_isexpired, bw_fine_amount, bw_islend
      )
    values (#{id,jdbcType=INTEGER}, #{bwCode,jdbcType=VARCHAR}, #{bwBookCode,jdbcType=VARCHAR}, 
      #{bwUserCode,jdbcType=VARCHAR}, #{bwLendTime,jdbcType=TIMESTAMP}, #{bwBackTime,jdbcType=TIMESTAMP}, 
      #{bwIsexpired,jdbcType=VARCHAR}, #{bwFineAmount,jdbcType=DECIMAL}, #{bwIslend,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nigel.readbox.entity.BookBorrow" >
    insert into book_borrow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bwCode != null" >
        bw_code,
      </if>
      <if test="bwBookCode != null" >
        bw_book_code,
      </if>
      <if test="bwUserCode != null" >
        bw_user_code,
      </if>
      <if test="bwLendTime != null" >
        bw_lend_time,
      </if>
      <if test="bwBackTime != null" >
        bw_back_time,
      </if>
      <if test="bwIsexpired != null" >
        bw_isexpired,
      </if>
      <if test="bwFineAmount != null" >
        bw_fine_amount,
      </if>
      <if test="bwIslend != null" >
        bw_islend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bwCode != null" >
        #{bwCode,jdbcType=VARCHAR},
      </if>
      <if test="bwBookCode != null" >
        #{bwBookCode,jdbcType=VARCHAR},
      </if>
      <if test="bwUserCode != null" >
        #{bwUserCode,jdbcType=VARCHAR},
      </if>
      <if test="bwLendTime != null" >
        #{bwLendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bwBackTime != null" >
        #{bwBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bwIsexpired != null" >
        #{bwIsexpired,jdbcType=VARCHAR},
      </if>
      <if test="bwFineAmount != null" >
        #{bwFineAmount,jdbcType=DECIMAL},
      </if>
      <if test="bwIslend != null" >
        #{bwIslend,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nigel.readbox.entity.BookBorrow" >
    update book_borrow
    <set >
      <if test="bwCode != null" >
        bw_code = #{bwCode,jdbcType=VARCHAR},
      </if>
      <if test="bwBookCode != null" >
        bw_book_code = #{bwBookCode,jdbcType=VARCHAR},
      </if>
      <if test="bwUserCode != null" >
        bw_user_code = #{bwUserCode,jdbcType=VARCHAR},
      </if>
      <if test="bwLendTime != null" >
        bw_lend_time = #{bwLendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bwBackTime != null" >
        bw_back_time = #{bwBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bwIsexpired != null" >
        bw_isexpired = #{bwIsexpired,jdbcType=VARCHAR},
      </if>
      <if test="bwFineAmount != null" >
        bw_fine_amount = #{bwFineAmount,jdbcType=DECIMAL},
      </if>
      <if test="bwIslend != null" >
        bw_islend = #{bwIslend,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nigel.readbox.entity.BookBorrow" >
    update book_borrow
    set bw_code = #{bwCode,jdbcType=VARCHAR},
      bw_book_code = #{bwBookCode,jdbcType=VARCHAR},
      bw_user_code = #{bwUserCode,jdbcType=VARCHAR},
      bw_lend_time = #{bwLendTime,jdbcType=TIMESTAMP},
      bw_back_time = #{bwBackTime,jdbcType=TIMESTAMP},
      bw_isexpired = #{bwIsexpired,jdbcType=VARCHAR},
      bw_fine_amount = #{bwFineAmount,jdbcType=DECIMAL},
      bw_islend = #{bwIslend,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>