<html>
  
  <head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="./css/index.css" type="text/css" />

  </head>
  
  <body>
    <!--StartFragment-->
    <div class="search">   
	<form action="#" method="get" class="styleHigh">
        <input type="text" name="search" placeholder="请输入图书检索关键字" class="styleInput">
		<input type="submit" value=" " class="submit">
	</form>
    </div>
	<div class="styleUl">
    <ul class="menu11"> 
		<li class="styleLi"> 
			<a href="account_bind.html" class="styleA">
				<img src="image/bind.png" class="styleImg">
				<span class="styleSpan">֤证件(解)绑定</span>
			</a>
		</li>
		<li class="styleLi"> 
			<a href="#" class="styleA">
				<img src="image/self_info.png" class="styleImg">
				<span class="styleSpan">个人资料</span>
			</a>
		</li>
		<li class="styleLi2">
			<a href="book_search.html" class="styleA">
				<img src="image/book_search.png" class="styleImg">
				<span class="styleSpan">图书搜索</span>
			</a>
		</li>
		<li class="styleLi"> 
			<a href="#" class="styleA">
				<img src="image/book_renew.png" class="styleImg">
				<span class="styleSpan">图书续借</span>
			</a>
		</li>
		<li class="styleLi"> 
			<a href="#" class="styleA">
				<img src="image/my_borrow.png" class="styleImg">
				<span class="styleSpan">我的借阅</span>
			</a>
		</li>
		<li class="styleLi2">
			<a href="#" class="styleA">
				<img src="image/notice.png" class="styleImg">
				<span class="styleSpan">馆内公告</span>
			</a>
		</li>
		<li class="styleLi">
			<a href="#" class="styleA">
				<img src="image/notice.png" class="styleImg">
				<span class="styleSpan">馆内公告</span>
			</a>
		</li>
		<li class="styleLi">
			<a href="#" class="styleA">
				<img src="image/notice.png" class="styleImg">
				<span class="styleSpan">馆内公告</span>
			</a>
		</li>
		<li class="styleLi2">
			<a href="#" class="styleA">
				<img src="image/notice.png" class="styleImg">
				<span class="styleSpan">馆内公告</span>
			</a>
		</li>
		<li class="styleLi">
			<a href="#" class="styleA">
				<img src="image/notice.png" class="styleImg">
				<span class="styleSpan">馆内公告</span>
			</a>
		</li>
		<li class="styleLi">
			<a href="#" class="styleA">
				<img src="image/notice.png" class="styleImg">
				<span class="styleSpan">馆内公告</span>
			</a>
		</li>
		<li class="styleLi2">
			<a href="#" class="styleA">
				<img src="image/notice.png" class="styleImg">
				<span class="styleSpan">馆内公告</span>
			</a>
		</li>
		
    </ul>
	</div>
    <!--EndFragment--></body>

</html>








